<div class="container" style="text-align: center">
    <div>
      <img src="assets/logo.png" alt="Logo de la empresa" >
    </div>

<div class = "container" style = "text-align: center">
  @if (!isRegister) {
    <h2>Inicie sesión</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>

    <br />
    
    <button mat-raised-button class="custom-button" (click)="login()">Ingresar</button>

    <br />
    <br />
    <button mat-button color="primary" (click)="isRegister = true">¿No tienes cuenta? Regístrate aquí</button>
  } @else {
    <h2>Regístrate</h2>

    <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" [(ngModel)]="username" required/>
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [(ngModel)]="email" name = "email" type="email" required #emailInput="ngModel" email/>
        @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
          @if (emailInput.errors?.['required']) {
            <mat-error>El campo Email es obligatorio.</mat-error>
          }
          @if (emailInput.errors?.['email']) {
            <mat-error>Ingrese un formato de correo válido (ej: usuario@dominio.com).</mat-error>
          }
        }
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
            type="password"
            matInput
            placeholder="Contraseña"
            [(ngModel)]="password"
            required
        />
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width">
        <mat-label>Confirmar Password</mat-label>
        <input
            type="password"
            matInput
            placeholder="Confirmar Contraseña"
            [(ngModel)]="confirmPassword"
            required
        />
        </mat-form-field>

        <br />

        <button mat-raised-button class="custom-button" (click)="registrar()">Registrar</button>
        <br />
        <br />
        <button mat-button color="primary" (click)="isRegister = false">¿Ya tienes cuenta? Inicia sesión</button>
  }
</div>