<div class="container">
 <div style="text-align: center;margin: 5%;"> <h2>Lista de LinkedProf</h2></div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.linkId }}</td>
      </ng-container>
      <!-- Name Column -->

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>tutor</th>
        <td mat-cell *matCellDef="let element">{{element.tutor.username}}</td>
      </ng-container>
      <!-- Weight Column -->

     <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>niño</th>
        <td mat-cell *matCellDef="let element">{{element.child.username}}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>psicologo</th>
        <td mat-cell *matCellDef="let element">{{element.professional.username}}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>estado</th>
        <td mat-cell *matCellDef="let element">
          @if(element.status) {Activo}
          @else {Inacitivo}
        </td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              [routerLink]="['edits',element.linkId]"
              >
                <mat-icon>edit</mat-icon>
                
              </button>
        </td>
      </ng-container>
       <!-- Symbol Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              (click)="eliminar(element.linkId)" (click) = "openSnackBar()"
              >
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
      </mat-paginator>
  </div>
</div>
