<div class = "container">
    <div style = "text-align: center; margin: 3%">
        <h2>{{ edicion ? 'Editar Respuesta' : 'Registrar Respuesta' }}</h2>
    </div>
    <div style = "text-align: center;">
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
            @if(edicion) {
                <mat-form-field>
                    <mat-label>Código</mat-label>
                    <input matInput formControlName="id" required />

                    @if (form.get('id')?.hasError('required')) {
                        <mat-error>El campo id es obligatorio.</mat-error>
                    }
                </mat-form-field>
            }
            <br/>

            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor" required />

                @if (form.get('valor')?.hasError('required')) {
                    <mat-error>El campo valor es obligatorio.</mat-error>
                }
            </mat-form-field>
            <br/>

            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha" [max]="today" required />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                @if (form.get('fecha')?.hasError('required')) {
                    <mat-error>El campo fecha es obligatorio.</mat-error>
                }
            </mat-form-field>
            <br/>

            <div>
                <mat-form-field class="example-full-width">
                <mat-label>Usuario:</mat-label>
                <mat-select formControlName="usuario" required>
                    @for (p of listaUsuario; track p.userId) {
                    <mat-option [value]="p.userId">
                    {{ p.username }}
                    </mat-option>
                }
                </mat-select>

                @if (form.get('usuario')?.hasError('required')) {
                <mat-error>El campo Usuario es obligatorio.</mat-error>
                }
                </mat-form-field>
            </div>
            <br/>

            <div>
                <mat-form-field class="example-full-width">
                <mat-label>Pregunta:</mat-label>
                <mat-select formControlName="pregunta" required>
                    @for (p of listaPreguntas; track p.question_id) {
                    <mat-option [value]="p.question_id">
                    {{ p.question_text }}
                    </mat-option>
                }
                </mat-select>

                @if (form.get('pregunta')?.hasError('required')) {
                <mat-error>El campo Pregunta es obligatorio.</mat-error>
                }
                </mat-form-field>
            </div>

            <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
        </form>
    </div>
</div>
