<div class="container">
  <div style="text-align: center;margin: 5%;"> 
    <h2>Lista de Cuestionarios</h2>
  </div>

  <!-- Contenedor de Cards -->
  <div class = "cards-container">
    <!-- Usamos dataSource.connect() | async para que respete paginator -->
    <mat-card class="cuestionario-card" *ngFor="let element of dataSource.connect() | async">
      <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>question_mark</mat-icon>
          </div>
          <mat-card-title>{{ element.title }}</mat-card-title>
          <mat-card-subtitle>ID: {{ element.questionnaire_id }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Version:</strong> {{ element.version_number }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['edits', element.questionnaire_id]">
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button mat-raised-button color="warn" (click)="eliminar(element.questionnaire_id); openSnackBar()">
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>

        <button mat-raised-button color="accent" (click)="Preguntas(element.questionnaire_id)">
          <mat-icon>help_outline</mat-icon>
          Preguntas
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-paginator [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page">
    </mat-paginator>
  </div>
</div>

