<div class="container"><mat-toolbar class="custom-toolbar">
  <button class="btn-rojo"
    matButton
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuUsers" >
    <mat-icon>user</mat-icon>Usuarios
  </button>
    <button class="btn-rojo"
    matButton
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menuCuestionarios" >
    <mat-icon>article</mat-icon>cuestionarios
  </button>
</mat-toolbar>
<mat-menu #menuUsers="matMenu">
  <button mat-menu-item routerLink="/Users"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/Users/news"> <mat-icon>add</mat-icon>Registrar</button>
</mat-menu>
<mat-menu #menuCuestionarios="matMenu">
  <button mat-menu-item routerLink="/Questionnaries"><mat-icon>list</mat-icon>Listar</button>
  <button mat-menu-item routerLink="/Questionnaries/news"><mat-icon>add</mat-icon>Registrar</button>
</mat-menu>
</div>


