<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>{{ edicion ? 'Editar rol' : 'Registrar rol' }}</h2>
  </div>
  <div style="text-align: center; ">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="id" required />

        @if (form.get('id')?.hasError('required')) {
        <mat-error>El campo id es obligatorio.</mat-error>
        }
      </mat-form-field>
      }
      <br />
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <input matInput formControlName="nombre" required />

        @if (form.get('nombre')?.hasError('required')) {
        <mat-error>El campo nombre es obligatorio.</mat-error>
        }
      </mat-form-field>
      <br />
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>usuario:</mat-label>
          <mat-select formControlName="usuario" required>
            @if (edicion) {
               <mat-option [value]="user.userId">
                {{ user.username }}
              </mat-option>
               @for (u of usuariosSinRol; track u.userId) {
              <mat-option [value]="u.userId">
                {{ u.username }}
              </mat-option>
            }
          }
          @else {
            @for (u of usuariosSinRol; track u.userId) {
              <mat-option [value]="u.userId">
                {{ u.username }}
              </mat-option>
            }
          }
          </mat-select>

          @if (form.get('usuario')?.hasError('required')) {
          <mat-error>El campo tipo es obligatorio.</mat-error>
          }
        </mat-form-field>
      </div>
      
       
      <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
    </form>
  </div>
</div>

