<div class="container">
 <div style="text-align: center;margin: 5%;"> <h2>Lista de Usuarios</h2></div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
      </ng-container>

      <!-- Name Column -->

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <!-- Weight Column -->

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>updatedAt</th>
        <td mat-cell *matCellDef="let element">{{ element.updatedAt }}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>enabled</th>
        <td mat-cell *matCellDef="let element">
          @if(element.enabled) {Activo}
          @else {Inactivo}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              [routerLink]="['edits',element.userId]"
              >
                <mat-icon>edit</mat-icon>
                
              </button>
        </td>
      </ng-container>
       <!-- Symbol Column -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              (click)="eliminar(element.userId)"
              >
                <mat-icon>delete</mat-icon>
              
              </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Perfil</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              [routerLink]="['usuario',element.userId]"
              >
                <mat-icon>person</mat-icon>
                
              </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
