<div class = "container">
    <div style = "text-align:center; margin: 5%">
        <h1>Lista de Respuestas</h1>
    </div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">{{ element.answer_id }}</td>
            </ng-container>

            <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef>Valor</th>
                <td mat-cell *matCellDef="let element">
                    @if (element.answer_value == "1") {Muy en desacuerdo}
                    @if (element.answer_value == "2") {En desacuerdo}
                    @if (element.answer_value == "3") {Indiferente}
                    @if (element.answer_value == "4") {De acuerdo}
                    @if (element.answer_value == "5") {Muy de acuerdo}
                </td>
            </ng-container>

            <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{ element.answered_at }}</td>
            </ng-container>

            <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.user.username }}</td>
            </ng-container>

            <ng-container matColumnDef="c5">
                <th mat-header-cell *matHeaderCellDef>Pregunta</th>
                <td mat-cell *matCellDef="let element">{{ element.questions.question_text }}</td>
            </ng-container>

            <ng-container matColumnDef="c6">
                <th mat-header-cell *matHeaderCellDef>Actualizar</th>
                <td mat-cell *matCellDef="let element">
                    <button matButton
                        [routerLink]="['edits',element.answer_id]" >
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="c7">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                <button  matButton 
                    (click)="eliminar(element.answer_id)" (click) = "openSnackBar()">
                    <mat-icon>delete</mat-icon>
            
                </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
      </mat-paginator>
    </div>
</div>