<div class="container">
 <div style="text-align: center;margin: 5%;"> <h2>Lista de Goals</h2></div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.goalId }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>usuario</th>
        <td mat-cell *matCellDef="let element">{{element.user.username}}</td>
      </ng-container>
 
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.goalDescription}}</td>
      </ng-container>
      
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>fecha inicio</th>
        <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>fecha fin</th>
        <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>estado</th>
        <td mat-cell *matCellDef="let element">
          @if(element.status) {Completado}
          @else {En proceso}
        </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              [routerLink]="['edits',element.goalId]"
              >
                <mat-icon>edit</mat-icon>
              </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
              <button 
              matButton
              (click)="eliminar(element.goalId)" (click) = "openSnackBar()"
              >
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
      </mat-paginator>
  </div>
</div>
